@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.dark-mode {
  background-color: rgb(32,30,36);
  transition: background-color .5s;
  h1, h2 {
    color: white;
  }
}

.victory-mode {
  background-image: linear-gradient(
    to bottom right, 
    #fd00ff, 
    #fdff00,
    #00ff38,
    #00f9ff,
    #3c00ff
  );
}
